---
import "../styles/global.css";
import "./PostCard.css";
import FormattedDate from "./FormattedDate.astro";
const { content, title, url, pubDate, description, tags, image } = Astro.props;
import readingTime from "reading-time";

const readingStats = readingTime(content);
---

<!-- put layer over the image -->
<a class="card" href={url}>
  <div class="card-content">
    <div class="text-content">
      <div class="title-with-bar">
        <div class="vertical-bar"></div>
        <p id="title">{title}</p>
      </div>
      <p>{description}</p>
      <p></p>
      <div class="taggy">
        {
          tags
            .slice(0, 3)
            .map((tag) => <p class="tag-item info-text">#{tag}</p>)
        }
      </div>
    </div>
    <div class="image-container">
      <img src={image.url} alt={image.alt} class="thumbnail" />
      <div class="overl date-overlay">
        <FormattedDate date={new Date(pubDate)} />
      </div>
      <div class="overl read-overlay">
        {readingStats.words} Words | {Math.round(readingStats.minutes)} Minutes
      </div>
    </div>
  </div>
</a>
