---
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import type { MarkdownHeading } from "astro";

interface Props {
  frontmatter: Record<string, any>;
  headings?: MarkdownHeading[];
}

const { frontmatter, headings } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <div class="blog-post-container-wrapper">
    <div class="blog-post-container">
      <div class="hero-image">
        {
          frontmatter.image.url && (
            <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
          )
        }
      </div>

      <h1 class="post-title">{frontmatter.title}</h1>

      <div class="post-metadata-bubble">
        <div class="text-content">
          <div class="date">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon lucide-user-pen"
            >
              <path d="M11.5 15H7a4 4 0 0 0-4 4v2"></path>
              <path
                d="M21.378 16.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"
              ></path>
              <circle cx="10" cy="7" r="4"></circle>
            </svg>
            <div class="info-text">
              <span class="label">Author</span>
              <span class="value">Xyroton</span>
            </div>
          </div>

          <div class="date">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon"
            >
              <path d="M8 2v4"></path>
              <path d="M16 2v4"></path>
              <rect width="18" height="18" x="3" y="4" rx="2"></rect>
              <path d="M3 10h18"></path>
              <path d="M8 14h.01"></path>
              <path d="M12 14h.01"></path>
              <path d="M16 14h.01"></path>
              <path d="M8 18h.01"></path>
              <path d="M12 18h.01"></path>
              <path d="M16 18h.01"></path>
            </svg>
            <div class="info-text">
              <span class="label">Published</span>
              <FormattedDate date={frontmatter.pubDate} />
            </div>
          </div>

          {
            frontmatter.updatedDate && (
              <div class="date">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon lucide-file-pen"
                >
                  <path d="M12.5 22H18a2 2 0 0 0 2-2V7l-5-5H6a2 2 0 0 0-2 2v9.5" />
                  <path d="M14 2v4a2 2 0 0 0 2 2h4" />
                  <path d="M13.378 15.626a1 1 0 1 0-3.004-3.004l-5.01 5.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z" />
                </svg>
                <div class="info-text">
                  <span class="label">Updated</span>
                  <FormattedDate date={frontmatter.updatedDate} />
                </div>
              </div>
            )
          }
        </div>
      </div>

      <hr class="blog-divider" />

      <slot />
    </div>
  </div>


  <!-- Tag list -->
  <div class="tag-wrapper">
    {frontmatter.tags.map((tag: string) => <span class="tag">#{tag}</span>)}
  </div>

  <div class="commeant-section"></div>

  <script>
    const script = document.createElement("script");
    script.src = "https://giscus.app/client.js";
    script.async = true;
    script.crossOrigin = "anonymous";
    script.setAttribute("data-repo", "xyroton/xyroton.github.io");
    script.setAttribute("data-repo-id", "R_kgDOO0t3rg");
    script.setAttribute("data-category", "Blog Comments");
    script.setAttribute("data-category-id", "DIC_kwDOO0t3rs4CsPmf");
    script.setAttribute("data-mapping", "pathname");
    script.setAttribute("data-strict", "0");
    script.setAttribute("data-reactions-enabled", "0");
    script.setAttribute("data-emit-metadata", "0");
    script.setAttribute("data-input-position", "bottom");
    script.setAttribute("data-lang", "en");
    // script.setAttribute("data-loading", "lazy");

    const getTheme = () => {
      const theme = document.documentElement.getAttribute("theme");
      return theme === "light" ? "light" : "dark";
    };

    script.setAttribute("data-theme", getTheme());

    const commentSection = document.querySelector(".commeant-section");
    if (commentSection) {
      commentSection.appendChild(script);
    }

    new MutationObserver((mutations) => {
      mutations.forEach((mutation) => {
        if (mutation.attributeName === "theme") {
          const giscusFrame = document.querySelector(
            "iframe.giscus-frame",
          ) as HTMLIFrameElement;
          if (giscusFrame?.contentWindow) {
            giscusFrame.contentWindow.postMessage(
              { giscus: { setConfig: { theme: getTheme() } } },
              "https://giscus.app",
            );
          }
        }
      });
    }).observe(document.documentElement, { attributes: true });
  </script>

  <!-- might not work with table of content -->
  <script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      const blogPostContainer = document.querySelector(".blog-post-container");
      if (!blogPostContainer) return;

      blogPostContainer.querySelectorAll("a").forEach((link) => {
        if (
          !link.hasAttribute("target") &&
          link.href &&
          !link.href.startsWith("#") &&
          !link.href.startsWith(window.location.origin)
        ) {
          link.setAttribute("target", "_blank");
          link.setAttribute("rel", "noopener noreferrer");
        }
      });
    });
  </script>
</BaseLayout>

<style>
  /* Blog content keeps fixed max width */
  .blog-post-container {
    margin: auto;
    max-width: 700px;
    /* margin-left: 90px; /* shifts it 20px to the left */ */
  }

  .syde {
    width: 300px;
    position: sticky;
    top: 100px;
    align-self: flex-start;
    float: none;
    /* makes it take the with  */
    flex-shrink: 0;
  }

  .commeant-section {
    max-width: 720px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
    background-color: var(--comment-box);
  }

  .post-metadata-bubble {
    background-color: var(--bg-light);
    border-radius: 10px;
    margin-bottom: 1em;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: flex-start;
    gap: 1em;
  }

  .text-content {
    flex: 1;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.25em;
    color: var(--text);
  }

  .icon {
    color: var(--primary);
    border-radius: 7px;
    margin: 8px 8px 8px 0;
    width: 32px;
    height: 32px;
  }

  .info-text {
    color: var(--nav-fg);
    font-size: 0.9rem;
    font-family: "GeistMono";
    display: flex;
    flex-direction: column;
  }

  .info-text .label {
    font-size: 0.6em;
    color: var(--text);
  }

  .date {
    display: inline-flex;
    align-items: center;
    margin: 0;
    font-size: 0.9rem;
    font-family: "GeistMono";
  }

  .hero-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
  }

  .post-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    font-family: "SpaceMono-Regular";
  }

  .tag-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1em;
  }

  .tag {
    display: inline-flex;
    align-items: center;
    padding: 1px 6px;
    font-size: 1.3em;
    font-family: "GeistMono";
    background-color: var(--primary);
    color: var(--bg-dark);
    border-radius: 5px;
    gap: 0.2em;
    margin-top: 10px;
    margin-bottom: 10px;
  }

</style>
